.food-container h2{
    text-align: center;
    color: white;
    border: 2px solid white;
    width: 30%;
    margin: auto;
    padding: 5px;
}

.indian-food{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 5px;
    justify-items: center;
    margin-top: 60px;
    background-color:#2D2013;
}